.bill_table thead th {
    background-color: #e4f0ff;
    color: #222;
    border: none;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: capitalize;
    padding: 8px;
    z-index: 999;
}