input[type='radio']+label{
    padding: 7px 10px 7px 22px;
    margin: 0;
    cursor: pointer;
    position: relative;
}
input[type='radio']+label:before{
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 50%;
    left:5px;
    top:calc(50% - 7px);
    border: 3px solid #ababab;
}
input[type='radio']:checked+label:before{
    border: 3px solid #2c7be5;
}
input[type='radio']:checked+label{
    box-shadow: 1px 1px 5px 0px #ababab;
    border-radius: 5px;
    font-weight: bold;
    /*color: #2c7be5;*/
    background: #fff;
}
input[type='radio']:not(:checked)+label{
    font-weight: normal;
}
.disabled{
    background: #cccccc1f !important;
}