.inv-table .table {
    background-image: url(./ds-logo.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 14px;
}

.inv-table .table>:not(caption)>*>* {
    padding: 4px 12px;
    margin-left: 4px;
    border-color: #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.inv-table .table thead th {
    background-color: #f5faff;
    color: black;
    font-size: 14px;
    letter-spacing: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}