.data-table-extensions {
    padding: 0px 0px !important
}

.data-table-extensions .data-table-extensions-filter .icon {
    display: none !important;
}

.data-table-extensions .data-table-extensions-filter .filter-text {
    padding: 6px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: 300ms;
    margin-left: 0px;
}

.data-table-extensions .data-table-extensions-filter .filter-text:focus {
    border-color: #2c7be5;
    transition: 300ms;
}

.sc-dmctIk::-webkit-scrollbar {
    height: .52em;
    width: .52em;
}

.sc-dmctIk::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sc-dmctIk::-webkit-scrollbar-thumb {
    background-color: #95aac9;
    border-radius: 50px;
}